<td><%= gravatar_for user, size: 50 %></td>
Name: <td> <%= link_to user.name, user %></td>
Email: <td> <%= link_to user.email, user %></td>
  
  Delete <%=user.name %>? <td><%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <br/>

</td>